header {
  padding: 70px 0;
  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    .header_left {
      .burger_trigger {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 30px;
        cursor: pointer;
        div {
          height: 3px;
          background-color: $c-gray-500;
          border-radius: 2px;
          &:nth-child(2) {
            width: 80%;
          }
          &:nth-child(3) {
            width: 60%;
          }
        }
        &:hover {
          div {
            &:nth-child(2) {
              width: 100%;
            }
            &:nth-child(3) {
              width: 100%;
            }
          }
        }
      }
    }
    .logo {
      display: flex;
      justify-content: center;
    }
    .header_right {
      display: flex;
      justify-content: flex-end;
      .lang {
        @extend .no-list;
        li {
          a {
            @extend .flex;
            width: 48px;
            height: 48px;
            border: 1px solid $c-brown;
            border-radius: 50%;
            &:hover {
              background-color: $c-brown;
              color: $c-white;
            }
          }
        }
      }
    }
  }
}
