.blog_listing {
  margin: 200px 0;
  @media (max-width: 1280px) {
    margin: 150px 0;
  }
  @media (max-width: 1024px) {
    margin: 100px 0;
  }
  @media (max-width: 768px) {
    margin: 50px 0;
  }
  .container {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1280px) {
      grid-gap: 50px;
    }
    @media (max-width: 1024px) {
      grid-gap: 40px;
      grid-template-columns: 1fr;
    }
    @media (max-width: 768px) {
      grid-gap: 30px;
    }
    article {
      figure {
        margin-bottom: 20px;
        a {
          display: block;
          border-radius: var(--br-lg);
          overflow: hidden;
          img {
            width: 100%;
          }
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }
      }
      time {
        font-size: var(--fs-sm);
      }
    }
  }
}
