// Map
.map {
  width: 100%;
  height: 400px;
  .gm-style {
    div {
      position: static;
    }
  }
}
// For SVG stroke animation
.dashed {
  fill: none;
  path {
    @extend .trans-4;
  }
  &:hover {
    path {
      stroke-dashoffset: 0 !important;
    }
  }
}
// Socials
.socials {
  ul {
    @extend .no-list;
    display: flex;
    gap: 4px;
    li {
      a {
        @extend .flex;
        width: 30px;
        height: 30px;
        svg {
          width: 24px;
          path {
            fill: $c-gray-700;
          }
        }
        &:hover {
          svg {
            path {
              fill: $c-primary-200;
            }
          }
        }
      }
    }
  }
}
// Container
.container {
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 1366px) {
    width: 1120px;
  }
  @media (max-width: 1280px) {
    width: 1005px;
  }
  @media (max-width: 1024px) {
    width: auto;
    margin: 0 20px;
  }
}
.form-item {
  .input-wrap {
    &.checker {
      display: flex;
      gap: 10px;
      label {
        margin: 0;
      }
    }
  }
  &.error {
    label {
      color: $c-error-100;
    }
    .input-wrap {
      input[type='text'],
      input[type='date'],
      input[type='datetime'],
      input[type='datetime-local'],
      input[type='email'],
      input[type='month'],
      input[type='number'],
      input[type='password'],
      input[type='range'],
      input[type='search'],
      input[type='tel'],
      input[type='time'],
      input[type='url'],
      input[type='week'],
      textarea {
        //color: $c-error-100;
        border-color: $c-error-100;
        &::placeholder {
          color: $c-error-100;
        }
        &.underline {
          border-bottom: 1px solid $c-error-100;
        }
        & + svg {
          path {
            stroke: $c-error-100;
          }
        }
      }
      .artform-wrap {
        span {
          border-color: $c-error-200;
        }
        input {
          &[type='radio'] {
            & + span {
              &:before {
                background-color: $c-error-200;
                border-color: $c-error-200;
              }
            }
            &:hover {
              & + span {
                border-color: $c-error-200;
                background-color: $c-error-25;
              }
            }
          }
          &[type='checkbox'] {
            &:hover {
              & + span {
                background-color: $c-error-25;
              }
            }
            &:checked {
              & + span {
                background-color: $c-error-200;
                border-color: transparent;
                &:before {
                  opacity: 1;
                }
              }
              &:hover {
                & + span {
                  border-color: $c-error-200;
                }
              }
            }
          }
        }
      }
    }
    .error-msg {
      display: flex;
    }
  }
}
.error-msg {
  display: none;
  gap: 5px;
  margin-top: 10px;
  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xs);
    fill: none;
    width: var(--fs-xs);
    height: var(--fs-xs);
    margin-top: 2px;
    border-radius: var(--br-half);
    border: 1px solid $c-error-100;
    path {
      width: 16px;
      stroke-width: 1.5;
      stroke: $c-error-200;
      stroke-linecap: round;
      transform: scale(0.7);
      transform-origin: 50% 50%;
    }
  }
  span {
    font-size: var(--fs-xs);
    color: $c-error-100;
    font-weight: 400;
    line-height: 1.4;
    align-self: center;
  }
}
.curves {
  position: absolute;
  left: 0;
  width: 100%;
  user-select: none;
  z-index: 1;
  &.top {
    top: 0;
    transform: translateY(calc(-100% + 2px));
  }
  &.bot {
    bottom: 0;
    transform: translateY(calc(100% - 2px));
  }
}
.page_title {
  margin: 100px 0;
  padding: 50px 0;
  background-color: $c-gray-25;
  @media (max-width: 1366px) {
    margin: 90px 0;
  }
  @media (max-width: 1280px) {
    margin: 80px 0;
  }
  @media (max-width: 1024px) {
    margin: 70px 0;
  }
  @media (max-width: 768px) {
    margin: 60px 0;
  }
  .container {
    h1 {
      margin: 0;
      color: $c-brown;
      font-weight: 120;
      text-align: center;
    }
  }
}
.portfolio {
  margin: 250px 0;
  @media (max-width: 1366px) {
    margin: 200px 0;
  }
  @media (max-width: 1280px) {
    margin: 150px 0;
  }
  @media (max-width: 1024px) {
    margin: 100px 0;
  }
  @media (max-width: 768px) {
    margin: 50px 0;
  }
  .portfolio_item {
    margin-bottom: 50px;
    padding: 40px 0;
    @media (max-width: 1366px) {
      margin-bottom: 40px;
      padding: 30px 0;
    }
    @media (max-width: 1280px) {
      margin-bottom: 30px;
      padding: 20px 0;
    }
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .worm {
      position: absolute;
      width: 90%;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      user-select: none;
      z-index: 1;
    }
    .container {
      z-index: 2;
      h2 {
        margin: 0 0 40px;
        font-weight: 100;
        text-align: right;
        @media (max-width: 1366px) {
          margin: 0 0 30px;
        }
        @media (max-width: 1280px) {
          margin: 0 0 20px;
        }
        @media (max-width: 768px) {
          text-align: center;
        }
      }
      .portfolio_items {
        display: grid;
        grid-gap: 100px;
        grid-row-gap: 60px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 30px;
        @media (max-width: 1366px) {
          grid-gap: 90px;
          grid-row-gap: 50px;
          margin-bottom: 20px;
        }
        @media (max-width: 1024px) {
          grid-gap: 30px;
          grid-row-gap: 30px;
          margin-bottom: 10px;
        }
        @media (max-width: 768px) {
          grid-template-columns: 1fr;
        }
        article {
          display: none;
          figure {
            @extend .trans-all-5;
            a {
              display: block;
              padding-top: 56.25%;
              margin-bottom: 20px;
              img {
                @extend .fit-cover;
                border-radius: var(--br-lg);
                z-index: 2;
              }
              &:before {
                @extend .overlay;
                background: url(../../images/play.svg) center center no-repeat;
                z-index: 3;
              }
              &:after {
                @extend .overlay;
                transform: translate(-10px, 10px);
                border: 1px dashed $c-gray-300;
                border-radius: var(--br-lg);
                z-index: 1;
              }
              &:hover {
                &:before {
                  transform: scale(1.2);
                  opacity: 0.8;
                }
              }
            }
            figcaption {
              @extend .sf;
              color: $c-brown;
              font-weight: 600;
              text-align: center;
            }
          }
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: block;
          }
        }
      }
      .see_all {
        display: none;
        justify-content: center;
      }
    }
    &:nth-child(2n),
    &.article {
      .worm {
        transform: translateX(-50%) scaleX(-1);
      }
      .container {
        h2 {
          text-align: left;
          @media (max-width: 768px) {
            text-align: center;
          }
        }
      }
    }
    &.article {
      .container {
        .portfolio_items {
          article {
            figure {
              a {
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
.cv {
  margin-top: 300px;
  padding: 80px 0 250px;
  @media (max-width: 1440px) {
    margin-top: 250px;
    padding: 70px 0 210px;
  }
  @media (max-width: 1366px) {
    margin-top: 200px;
    padding: 60px 0 170px;
  }
  @media (max-width: 1280px) {
    margin-top: 150px;
    padding: 50px 0 130px;
  }
  @media (max-width: 1024px) {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 40px 0 90px;
  }
  .curve {
    width: 100%;
    user-select: none;
  }
  .container {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1440px) {
      grid-gap: 90px;
    }
    @media (max-width: 1366px) {
      grid-gap: 80px;
    }
    @media (max-width: 1280px) {
      grid-gap: 70px;
    }
    @media (max-width: 1024px) {
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }
    .cv_column {
      h2 {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: left top;
        font-weight: 100;
        text-align: right;
        @media (max-width: 576px) {
          position: relative;
          left: auto;
          top: auto;
          margin-bottom: 10px;
          transform: none;
          text-align: left;
        }
      }
      > ul {
        @extend .no-list;
        margin-left: 80px;
        @media (max-width: 1440px) {
          margin-left: 60px;
        }
        @media (max-width: 1366px) {
          margin-left: 50px;
        }
        @media (max-width: 576px) {
          margin-left: 0;
        }
        > li {
          display: none;
          grid-gap: 20px;
          grid-template-columns: 90px 1fr;
          align-items: start;
          margin-bottom: 30px;
          @media (max-width: 1440px) {
            grid-template-columns: 80px 1fr;
            margin-bottom: 24px;
          }
          @media (max-width: 1366px) {
            grid-template-columns: 70px 1fr;
            margin-bottom: 18px;
          }
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: grid;
          }
          figure {
            &:before {
              @extend .overlay;
              transform: translate(6px, 6px);
              border: 1px dashed $c-gray-300;
              border-radius: 50%;
              z-index: 1;
            }
            img {
              border-radius: 50%;
              z-index: 2;
            }
          }
          .cv_texts {
            h3 {
              margin: 0 0 4px;
              color: $c-black;
              font-size: var(--fs-lg);
            }
            .text {
              font-size: 14px;
              ul {
                display: flex;
                flex-wrap: wrap;
                gap: 7px;
                row-gap: 0px;
                margin: 0;
                li {
                  display: flex;
                  gap: 6px;
                  align-items: center;
                  &:before {
                    display: block;
                    content: '';
                    width: 3px;
                    height: 3px;
                    background-color: $c-gray-500;
                  }
                  &:first-of-type {
                    &:before {
                      display: none;
                    }
                  }
                }
              }
              .duration {
                font-weight: 650;
              }
            }
          }
        }
      }
      .see_all_cv {
        display: none;
        justify-content: center;
      }
    }
  }
}
.related_services {
  padding: 100px 0 200px;
  background-color: $c-gray-25;
  @media (max-width: 1366px) {
    padding: 90px 0 180px;
  }
  @media (max-width: 1280px) {
    padding: 80px 0 160px;
  }
  @media (max-width: 1024px) {
    padding: 70px 0 140px;
  }
  @media (max-width: 768px) {
    padding: 60px 0 120px;
  }
  @media (max-width: 576px) {
    padding: 50px 0 100px;
  }
}
.section-title {
  margin: 0 0 1.6em;
  text-align: center;
  font-weight: 100;
}
