@font-face {
  font-family: 'sf-georgian';
  src: url('../fonts/sf-rounded-georgian.woff2') format('truetype-variations');
  font-weight: 1 999;
}
@font-face {
  font-family: 'sf-pro';
  src: url('../fonts/sf-pro-rounded.woff2') format('truetype-variations');
  font-weight: 1 999;
}
