.hero {
  margin: 5vw 0;
  padding-top: 40%;
  background-color: $c-gray-25;
  .hero_content {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    z-index: 3;
    figure {
      display: flex;
      justify-content: center;
      margin-bottom: 7%;
      img {
        width: 59%;
      }
    }
    .text {
      color: $c-gray-500;
      font-size: 1vw;
      text-align: center;
      font-weight: 350;
    }
  }
  .vegan {
    position: absolute;
    z-index: 2;
    &.one {
      width: 20.6%;
      left: 16%;
      top: 8%;
    }
    &.two {
      width: 10.5%;
      left: 4%;
      top: 49%;
    }
    &.three {
      width: 12.5%;
      left: 23%;
      top: 55%;
    }
    &.four {
      width: 9%;
      left: 59%;
      top: 3%;
    }
    &.five {
      width: 14%;
      left: 77%;
      top: 10%;
    }
    &.six {
      width: 11%;
      left: 40%;
      top: 66%;
    }
    &.seven {
      width: 25%;
      left: 60%;
      top: 41%;
    }
    &.eight {
      width: 8%;
      left: 84%;
      top: 58%;
    }
  }
}
