.front_collaboration {
  padding-top: 62.5%;
  @media (max-width: 768px) {
    padding: 0 0 100px;
  }
  * {
    transition: all 0.3s ease-out;
  }
  h2 {
    position: absolute;
    left: 42%;
    top: 0%;
    color: $c-gray-700;
    font-size: 3.4vw;
    font-weight: 100;
    z-index: 2;
    @media (max-width: 768px) {
      position: relative;
      left: auto;
      top: auto;
      margin-bottom: 20px;
      text-align: center;
      font-size: var(--fs-3xl);
    }
  }
  .bean {
    position: absolute;
    width: 26vw;
    z-index: 2;
    @media (max-width: 1280px) {
      width: 330px;
    }
    @media (max-width: 768px) {
      position: relative;
    }
    &.first {
      left: 22%;
      top: 11%;
      @media (max-width: 1024px) {
        left: 6%;
      }
      @media (max-width: 768px) {
        left: auto;
        top: auto;
        margin: 0 auto 20px;
      }
    }
    &.second {
      left: 52%;
      top: 25%;
      @media (max-width: 1024px) {
        left: auto;
        right: 6%;
      }
      @media (max-width: 768px) {
        right: auto;
        top: auto;
        margin: 0 auto 20px;
      }
    }
    &.third {
      left: 29%;
      top: 52%;
      @media (max-width: 1024px) {
        left: 16%;
      }
      @media (max-width: 768px) {
        left: auto;
        top: auto;
        margin: 0 auto 50px;
      }
    }
    img {
      width: 100%;
      z-index: 1;
    }
    figcaption {
      position: absolute;
      left: 10%;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      color: $c-white;
      font-size: 1.3vw;
      font-weight: 500;
      text-align: center;
      z-index: 2;
      @media (max-width: 1280px) {
        font-size: var(--fs-lg);
      }
    }
  }
  .veg-more {
    position: absolute;
    left: 53%;
    top: 83%;
    z-index: 2;
    @media (max-width: 1024px) {
      left: auto;
      right: 10%;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      position: relative;
      top: auto;
      right: auto;
      text-align: center;
    }
  }
  .vegan {
    position: absolute;
    z-index: 3;
    &.veg-one {
      width: 10.5%;
      left: 13%;
      top: 0%;
    }
    &.veg-two {
      width: 10.5%;
      left: 63.5%;
      top: 61%;
    }
    &.veg-three {
      width: 14%;
      left: 12%;
      top: 73%;
    }
    &.veg-four {
      width: 9%;
      left: 20%;
      top: 40%;
    }
    &.veg-five {
      width: 14%;
      left: 69%;
      top: 2%;
    }
    &.veg-six {
      width: 11%;
      left: 4%;
      top: 30%;
    }
    &.veg-seven {
      width: 11%;
      left: 77%;
      top: 81%;
    }
    &.veg-eight {
      width: 8%;
      left: 85%;
      top: 36%;
    }
  }
}
