.instagram_feed {
  padding: 300px 0;
  @media (max-width: 1366px) {
    padding: 260px 0;
  }
  @media (max-width: 1280px) {
    padding: 220px 0;
  }
  @media (max-width: 1024px) {
    padding: 180px 0;
  }
  @media (max-width: 768px) {
    padding: 140px 0;
  }
  @media (max-width: 576px) {
    padding: 100px 0;
  }
  h2 {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 100px;
    text-align: center;
    @media (max-width: 1366px) {
      margin: 0 0 90px;
    }
    @media (max-width: 1280px) {
      margin: 0 0 80px;
    }
    @media (max-width: 1024px) {
      margin: 0 0 70px;
    }
    @media (max-width: 768px) {
      margin: 0 0 60px;
    }
    @media (max-width: 576px) {
      margin: 0 0 50px;
    }
    span {
      color: $c-brown;
      font-weight: 600;
      line-height: 1;
    }
    a {
      margin-top: 4px;
      line-height: 1;
      svg {
        vertical-align: top;
        width: 18px;
        height: 18px;
        line-height: 1;
        path {
          fill: $c-brown;
        }
      }
    }
  }
  #sb_instagram {
    padding: 0 10%;
    @media (max-width: 576px) {
      padding: 0 20px;
    }
    #sbi_images {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 1366px) {
        grid-gap: 40px;
      }
      @media (max-width: 1280px) {
        grid-gap: 30px;
      }
      @media (max-width: 1024px) {
        grid-gap: 20px;
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .sbi_item {
        width: auto;
        .sbi_photo_wrap {
          a {
            display: block;
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
