// Main menu
.menu_wrap {
  @extend .trans-2;
  position: fixed;
  width: 30vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 40px;
  transform: translateX(-100%);
  z-index: 999;
  background-color: $c-gray-50;
  .navigation {
    > ul {
      @extend .no-list;
      > li {
        padding: 6px 0;
        > a {
          @extend .trans-4;
          @extend .sf;
          display: block;
          color: $c-gray-400;
          font-size: var(--fs-xl);
          font-weight: 300;
        }
        &.current_page_item,
        &.current-menu-ancestor,
        &.current-menu-item,
        &:hover {
          > a {
            color: $c-primary-200;
          }
        }
      }
    }
  }
}
